@model List<BeerModel>


<div class="row">
	@foreach (var beer in Model)
	{
		
		<div class="card text-bg-dark mb-3 g-3 mx-2" style="max-width: 18rem;">
			<div class="card-header">
				<a asp-action="" asp-controller="" asp-route-id="@beer.Id">@beer.Name</a>
			</div>
			<div class="card-body">
				<h5 class="card-title">@beer.Style</h5>
				<p class="card-text">@beer.Year Procent: @beer.AlcoholProcent</p>
			</div>
		</div>
	}
</div>